@import '../bower_components/sass-bootstrap/lib/bootstrap.scss';
@import 'animations';

@font-face
{
	font-family: 'Trump Gothic East';
	src: url(../fonts/ufonts.com_trump_gothic_east.ttf);
}

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$content-width: 1000px;
$screen-width: 1200px;

$bp-iphone-portrait: 320px;
$bp-iphone-landscape: 568px;
$bp-desktop-small-height: 716px;
$bp-ipad-portrait: 768px;
$bp-ipad-landscape: 1024px;
$bp-desktop: 1200px;

$dkGrey: #4D4D4D;
$medGrey: #444444;
$ltGrey: #BAB2AA;
$unselectGrey: rgb(95, 95, 95);
$artifact-pink: #FFE4D3;
$artifact-blue: #2470B3;

@import 'mixins';

/*-------- GLOBAL SETTINGS --------*/
// These are IMPORTANT!!!

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.fullpage {
	position: relative;
    &.horizontal{
      float:left;
    }
}

* {
	text-rendering: optimizeLegibility;
}

html,
body {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	@media screen and (max-width: $bp-ipad-landscape) {
		padding: 0 15px;
	}
}

.active {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
}
.trade {
	font-size: .5em;
	font-weight: 100;
	vertical-align: text-top;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

/*-------- iPHONE STYLES --------*/

$iphone-p: 'only screen and (min-width: $bp-iphone-portrait) and (orientation: portrait)';
$iphone-l: 'only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape)';

///* iPhone Portrait */
//@media only screen and (min-width: $bp-iphone-portrait) and (orientation: portrait) {
//	//STYLES
//}
//
///* iPhone Landscape */
//@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
//	// STYLES
//}

/*--------- NAV --------*/
.at-inline {
	position: relative;
	display: inline-block;
}

.at-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	.at-navbar-wrapper {
		position: relative;
		width: 100%;
		height: 45px;
		background-color: rgba(0,0,0,1);
		&.home {
			//          -webkit-transition:0.5s linear all;
			//          transition:0.5s linear all;
			height: 60px;
			background-color: rgba(0,0,0,.7);
			border-bottom: 1px solid rgb(231, 242, 228);
		}
	}
	.home {
		//      -webkit-transition:0.5s linear all;
		//      transition:0.5s linear all;
		.at-navbar-banner {
			.at-navbar-header {
				width: 100%;
				height: 33px;
				margin: 0 auto;
				padding-top: 1em;
				padding-right: 0;
				text-align: center;
				clear: both;
				a {
					width: 100%;
					margin: 0 auto;
					font-size: 13px;
					letter-spacing: .2em;
					.logo {
						display: inline-block;
						width: 10px;
						height: 12px;
						margin: 0;
						padding-right: 12px;
					}
					.thin {
						font-weight: 200;
					}
				}
			}
		}
	}
	.at-navbar-banner {
		position: relative;
		width: 100%;
		height: 40px;
		.at-navbar-header {
			position: relative;
			display: block;
			width: 18em;
			margin: 0 auto;
			padding-top: 5px;
			text-align: center;
			clear: both;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				position: relative;
				display: inline-block;
				width: 18em;
				height: 20px;
				float: left;
				margin-right: .5em;
				padding-top: 5px;
				padding-left: 15px;
				clear: none;
				a {
					width: 18em;
				}
			}
			a {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 12px;
				font-weight: 700;
				color: $unselectGrey;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: .2em;
				.logo {
					display: inline-block;
					width: 10px;
					height: 12px;
					margin: 0;
					margin-right: 5px;
				}
				.thin {
					font-weight: 200;
				}
				.active {
					color: white;
				}
				&:hover {
					color: white;
				}
			}
		}
		.at-navbar-main {
			width: 22em;
			display: block;
			margin: 0 auto;
			padding-top: 0;
			clear: both;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				display: inline-block;
				padding-top: 5px;
				padding-left: 0;
				height: 20px;
				width: auto;
			}
			a {
				padding-right: 8px;
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 11px;
				color: $unselectGrey;
				text-transform: uppercase;
				text-decoration: none;
				@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
					padding-right: 5px;
				}
				&.active {
					color: white;
				}
				&:last-child {
					padding-right: 0;
				}
				&:hover {
					color: white;
				}
			}
			&.home {
				width: 100%;
				height: 20px;
				padding-top: 0px;
				text-align: center;
				&.home {
					display: block;
					margin: 0 auto;
					a {
						color: $dkGrey;
						font-size: 10px;
						padding-right: 1em;
						&:hover {
							color: white;
						}
						&:active {
							color: white;
						}
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}
		}
	}
	.at-subnav-wrapper {
		width: 100%;
		height: 22px;
		position: relative;
		&.home {
			height: 0px;
		}
		.at-subnav {
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;
			background-color: rgba(0,0,0,.7);
			.at-navbar-subnav {
				a {
					font-family: 'Helvetica Neue', sans-serif;
					font-size: 11px;
					color: rgba(161, 161, 161, 1);
					text-transform: uppercase;
					text-decoration: none;
					padding-top: 5px;
					padding-right: 17px;
					padding-bottom: 5px;
					&.active {
						color: white;
					}
					&:last-child {
						padding-right: 0;
					}
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

/*-------- NAV BUTTONS --------*/

.at-about-chevron {
	width: 12em;
	height: 1em;
	text-align: right;
	float: right;
	top: 5.9em;
	@include nav-button(right, .5em);
	h4.at-about-team-link {
		font-family: 'Trump Gothic East', sans-serif;
		position: absolute;
		display: inline-block;
		top: 0;
		right: 42px;
		margin: 0;
		margin-top: 2px;
		padding-right: 5px;
		font-size: .9em;
		font-weight: 400;
		text-decoration: none;
		color: #333333;
		&:hover {
			color: $artifact-blue;
			cursor: pointer;
		}
	}
	.at-about-chevron-img {
		display: inline-block;
		top: 0;
		width: 19px;
		height: 14px;
	}
}
.at-platform-chevron {
	float: right;
	top: 5.9em;
	width: 12em;
	height: 1em;
	text-align: right;
	@include nav-button(right, .5em);
	h4.at-platform-link {
		font-family: 'Trump Gothic East', sans-serif;
		position: absolute;
		display: inline-block;
		top: 0;
		right: 42px;
		margin: 0;
		margin-top: 2px;
		padding-right: 5px;
		font-size: .9em;
		font-weight: 400;
		text-decoration: none;
		color: #333333;
		&:hover {
			color: $artifact-blue;
			cursor: pointer;
		}
	}
	.at-platform-chevron-img {
		display: inline-block;
		width: 19px;
		height: 14px;
		top: 0;
	}
}
.at-work-chevron {
	float: right;
	width: 12em;
	height: 1em;
	text-align: right;
	top: 5.9em;
	@include nav-button(right, .5em);
	h4.at-work-link {
		font-family: 'Trump Gothic East', sans-serif;
		position: absolute;
		display: inline-block;
		top: 0;
		right: 42px;
		margin: 0;
		margin-top: 2px;
		padding-right: 5px;
		font-size: .9em;
		font-weight: 400;
		text-decoration: none;
		color: #333333;
		&:hover {
			color: $artifact-blue;
			cursor: pointer;
		}
	}
	.at-work-chevron-img {
		display: inline-block;
		width: 19px;
		height: 14px;
		top: 0;
	}
}
.at-arrow-down {
	position: absolute;
	left: 50%;
	bottom: 0px;
	padding-bottom: 20px;
	margin-left: -20.5px;
	img {
		width: 41px;
		height: 18px;
	}
}
.at-arrow-left {
	position: absolute;
	@include nav-button(left, 20.5px);
	img {
		width: 18px;
		height: 41px;
	}
	&.centered {
		top: 50%;
	}
	&.lower {
		top: 60%;
	}
	.bottom {
		bottom: 25%;
	}
}
.at-arrow-right {
	position: absolute;
	@include nav-button(right, 20.5px);
	img {
		width: 18px;
		height: 41px;
	}
	&.centered {
		top: 50%;
	}
	&.lower {
		top: 60%;
	}
	.at-bottom {
		bottom: 25%;
	}
}

/*-------- HOME --------*/

.at-main-message {
	position: absolute;
	width: 20em;
	height: 40px;
	top: 67%;
	left: 50%;
	margin-left: -10em;
	text-align: center;
	h1 {
		color: white;
		font-size: 2em;
		text-transform: lowercase;
		font-weight: 100;
		letter-spacing: .2em;
		margin: 0;
	}
}

/*-------- ABOUT.MAIN --------*/

.at-about-main-text {
	position: relative;
	width: 12.5em;
	height: auto;
	float: left;
	top: 5.4em;
	padding: 0;
	@media only screen and (min-width: $bp-iphone-portrait) and (orientation: portrait) {
		width: 14em;
		padding: 15px;
		border-radius: 4px;
		background: rgba(255,255,255,.7);
		background-position: bottom left;
	}
	@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
		top: 4.5em;
		width: 11.5em;
	}
	h1 {
		font-family: "trump gothic east", sans-serif;
		font-size: 2.4em;
		margin: 0;
		margin-bottom: .4em;
	}
	p {
		font-family: 'Helvetica Neue', sans-serif;
		font-size: .9em;
		line-height: 1.2em;
		margin-bottom: .1em;
	}
	.at-about-artifact {
		@media only screen and (min-width: $bp-iphone-portrait) and (orientation: portrait) {
			visibility: hidden;
			height: 0!important;
			width: 0!important;
		}
		@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
			visibility: hidden;
			height: 0!important;
			width: 0!important;
		}
		visibility: visible;
		position: relative;
		width: 100%;
		.pointer {
			width: 0px;
			height: 0px;
			margin-top: 6px;
			border-style: solid;
			border-width: 12px 0 0 7px;
			border-color: transparent transparent transparent white;
			&#showA {
				margin-left: 23px;
			}
			&#showR {
				margin-left: 45px;
			}
			&#showT {
				margin-left: 66px;
			}
			&#showI {
				margin-left: 88px;
			}
			&#showF {
				margin-left: 102px;
			}
			&#showA2 {
				margin-left: 120px;
			}
			&#showC {
				margin-left: 146px;
			}
			&#showT2 {
				margin-left: 169px;
			}
		}
		.at-about-artifact-bubble {
			width: 470px;
			background: white;
			margin: 0 auto;
			padding: 10px;
			border-radius: 5px;
			h2 {
				font-family: "trump gothic east", sans-serif;
				margin: 0;
				padding: 0;
				font-size: 36px;
			}
			p {
				margin-top: 5px;
				padding: 0;
				font-size: 1em;
			}
		}
		h1 {
			font-family: "trump gothic east", sans-serif;
			font-size: 4em;
			margin: 0;
			.underlined {
				//				padding-bottom: -5px;
				border-bottom: 3px solid;
				cursor: pointer;
				letter-spacing: .1em;
			}
			.letter {
			}
		}
	}
}

.about-background-img {
	position: fixed;
	top: 0;
}

/*-------- ABOUT.TEAM --------*/

.at-about-team {
	position: relative;
	display: block;
	width: 280px;
	height: inherit;
	margin: 0 auto;
	padding-top: 5em;
	background: transparent;
	@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
		width: 100%;
	}
	.team-member {
		float: left;
		&.at-left {
			margin-right: 2em;
		}
		&.at-right {
			margin-left: 2em;
		}
		.team-photo {
			display: none;
			margin-top: 5px;
			background-color: white;
		}
		.team-member-banner {
			position: relative;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				width: 100%;
				margin-bottom: 5px;
			}
			h1 {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 18px;
				text-transform: none;
				padding: 5px 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			h2 {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 15px;
				text-transform: none;
				padding: 5px 0;
				margin-top: 0;
				margin-bottom: 0;
			}
			.linked-in {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 5px;
				right: 29px;
				background: url(../images/linked-in.png) center center no-repeat;
				background-size: contain;
				&:hover {
					background: url(../images/linked-in-active.png) center center no-repeat;
					background-size: contain;
				}
				&:active {
					background: url(../images/linked-in-active.png) center center no-repeat;
					background-size: contain;
				}
			}
			.twitter {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 5px;
				right: 0px;
				background: url(../images/twitter.png) center center no-repeat;
				background-size: contain;
				&:hover {
					background: url(../images/twitter-active.png) center center no-repeat;
					background-size: contain;
				}
				&:active {
					background: url(../images/twitter-active.png) center center no-repeat;
					background-size: contain;
				}
			}
		}
		.team-member-text {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 14px;
			padding-top: 10px;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				width: 100%;
				padding: 0 2.5em;
			}
		}
		.team-member-hobbies {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 12px;
			color: $medGrey;
			font-weight: regular;
			padding: 0 5px 0;
			p {
				margin-bottom: 5px;
			}
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				width: 22em;
				float: left;
				padding: 0;
			}
			.quiz {
				font-family: 'Helvetica Neue', sans-serif;
			}
			a {
				color: $medGrey;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					color: $artifact-blue;
				}
			}
		}
	}
	.member-divider {
		position: relative;
		float: left;
		height: 90%;
		top: 0;
		border-right:1px solid black;
	}
}

/*-------- PLATFORM.MAIN, etc. --------*/

.at-platform{
	position: relative;
	padding-top: 5.4em;
	width: 100%;
	margin: 0 auto;
	h1 {
		font-family: "trump gothic east", sans-serif;
		width: 100%;
		text-align: left;
		font-size: 2.4em;
		margin: 0 0 .4em 0;
		padding-left: 1.2em;
	}
	.at-platform-list {
		width: 100%;
		margin: 0 auto;
		margin-top: 1em;
		padding: 0 40px .5em 0;
		ol li, li {
			&:last-child {
				margin-bottom: 0;
			}
			list-style: disc;
			font-family: 'Helvetica Neue', sans-serif;
			font-size: .9em;
			line-height: 1.2em;
			margin-bottom: .1em;
		}
	}
	.at-platform-menu {
		position: relative;
		width: 18em;
		margin: 0 auto;
		@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
			width: 36em;
			padding-top: 4px;
		}
		.at-platform-box {
			display: inline-block;
			width: 8.5em;
			height: 3em;
			float: left;
			padding: .5em;
			background: black;
			margin-right: .5em;
			margin-bottom: .5em;
			&:hover {
				cursor: pointer;
			}
			&:last-child {
				margin-right: 0;
			}
			.box-icon {
				display: inline-block;
				float: left;
				width: 2em;
				height: 2em;
			}
			.menu-title {
				display: inline-block;
				float: left;
				width: 5.9em;
				margin: 0;
				padding-left: 4px;
				padding-top: 5px;
				padding-bottom: 3px;
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 13px;
				font-weight: 200;
				color: $artifact-pink;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	&.at-platform-top {
		padding: 5em 15px 0;
		@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
			padding: 5em 2em 0;
		}
	}
	.at-platform-page {
		height: 100%;
		&.on-left {
			width: 15em;
			margin-top: 1em;
			margin-left: 15px;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				width: 15em;
				margin-left: 5em;
			}
		}
		h1 {
			font-family: "trump gothic east", sans-serif;
			font-size: 2.4em;
			margin: 0;
			padding-left: 0;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				font-size: 2.4em;
				margin: 0;
				padding-left: 0;
			}
			&.uncramp {
				width: auto;
				float: left;
				margin-right: .4em;
			}
			&.curation-title {
				margin-bottom: .4em;
			}
		}
		p {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 10px;
			text-transform: none;
			line-height: 12px;
			margin-bottom: .1em;
			font-weight: 300;
			&.platform-text {
				font-size: 12px;
				line-height: 14px;
				padding-left: 7.2em;
				&.curation-text {
					padding-left: 0;
				}
			}
		}
	}
}

/*-------- WORK.MAIN, etc. --------*/

.at-work{
	position: relative;
	padding-top: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
		padding-top: 5.4em;
	}
	.at-work-page {
		position: relative;
		&.at-work-app {
			width: auto;
			padding-top: 15.9em;
			padding-left: 7.5em;
			overflow-y: hidden;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				padding-top: 5em;
				padding-left: 17em;
			}
		}
		// 'our work' main page
		.text-wrapper {
			width: 100%;
			padding-top: 0;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				width: 230px;
				float: left;
			}
			h1 {
				font-family: "trump gothic east", sans-serif;
				width: 2.5em;
				font-size: 2.4em;
				margin: 0 auto;
				@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
					margin: 0 0 .4em 0;
					text-align: left;
				}
			}
			p {
				width: 100%;
				font-family: 'Helvetica Neue', sans-serif;
				font-size: .9em;
				line-height: 1.2em;
				margin-bottom: .1em;
				text-transform: none;
				text-align: center;
				@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
					text-align: left;
				}
			}
		}
		h1 {
			font-family: "trump gothic east", sans-serif;
			text-align: left;
			font-size: 2.1em;
			margin: 0;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				font-size: 1.4em;
			}
		}
		.at-app-title {
			width: 100%;
			margin-top: 0;
			margin-left: 0;
			.small-caps {
				font-size: .8em;
			}
		}
		p {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 14px;
			line-height: 1.2em;
			margin-bottom: .1em;
			text-transform: none;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				font-size: .8em;
			}
			&.at-app-desc {
				width: 100%;
				margin-left: 0;
				padding-right: 1em;
				padding-bottom: 0;
				font-size: .75em;
				line-height: 1.2em;
			}
		}
		.at-phones {
			width: 292px;
			min-height: 282px;
			margin: 0 auto;
			margin-bottom: 1em;
			@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
				float: right;
				margin: -3em 0 0 0;
			}
			.at-phone {
				position: relative;
				display: inline-block;
				float: left;
				width: 139px;
				height: 282px;
				top: 0px;
				&.at-left {
					margin-left: 0;
//				    margin-left: ($content-width - (252px * 2) - 50px) / 2;
				}
				&.at-right {
					margin-left: 1em;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}
		.promo-videos {
			display: inline-block;
			width: 100%;
			margin-top: .5em;
			margin-bottom: .5em;
			margin-left: 0;
			h2 {
				width: auto;
				margin: 0;
				padding-right: 1em;
				float: left;
				font-size: .7em;
				a {
					display: inline-block;
					margin: 0;
					padding: 0;
					height: 20px;
					clear: both;
					color: $medGrey;
					cursor: pointer;
					&:hover {
						color: $artifact-blue;
					}
				}
			}
		}
	}
}
a.apple-store {
	position: absolute;
	display: inline-block;
	width: 70px;
	height: 24px;
	left: 0em;
	bottom: .3em;
}

/*-------- CONTACT --------*/

.at-contact {
	width: 100%;
	margin: 0 auto;
	padding-top: 6.4em;
	@media only screen and (min-width: $bp-iphone-portrait + 1) and (max-width: $bp-iphone-landscape) and (orientation: landscape) {
		padding-top: 4em;
	}
	h1 {
		font-family: "trump gothic east", sans-serif;
		width: 100%;
		font-size: 2.4em;
		margin: 0 auto;
		margin-bottom: .4em;
		text-align: center;
	}
	.contact-info {
		font-family: 'Helvetica Neue', sans-serif;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1em;
		font-size: 16px;
		text-align: center;
		line-height: 20px;
		a {
			color: #333333;
			&:hover {
				color: $artifact-blue;
			}
		}
		.twitter {
			display: block;
			width: 35px;
			height: 35px;
			margin: 0 auto;
			background: url(../images/twitter.png) center center no-repeat;
			background-size: contain;
			&:hover {
				background: url(../images/twitter-active.png) center center no-repeat;
				background-size: contain;
			}
		}
	}
}

.at-footer {
	position: absolute;
	display: inline-block;
	vertical-align: bottom;
	bottom: 0;
	width: 100%;
	height: 3em;
	padding-top: .5em;
	background: black;

	border-top: 1px solid rgb(231, 242, 228);
	p {
		font-family: 'Helvetica Neue', sans-serif;
		font-size: .8em;
		font-weight: 400;
		line-height: 1em;
		text-align: center;
		color: #80807D;
	}
}

/*-------- OTHER STUFF --------*/

.v-centered-right {
	position: absolute;
	height: 20px;
	top: 50%;
	right: 0;
	padding-right: 20px;
	margin-top: -10px;
}
.v-centered-left {
	position: absolute;
	height: 20px;
	top: 50%;
	left: 0;
	padding-left: 20px;
	margin-top: -10px;
}
.h-centered-bottom {
	position: absolute;
	width: 20px;
	left: 50%;
	bottom: 0;
	padding-bottom: 20px;
	margin-left: -10px;
}
.at-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

/* animation sets */
/* move from / to  */

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	animation-name: bounce;
}
@-webkit-keyframes bounce-right {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	40% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	60% {
		-webkit-transform: translateX(-15px);
		transform: translateX(-15px);
	}
}

@keyframes bounce-right {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	40% {
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	60% {
		-webkit-transform: translateX(-15px);
		-ms-transform: translateX(-15px);
		transform: translateX(-15px);
	}
}
.bounce-right {
	-webkit-animation-name: bounce-right;
	-moz-animation-name: bounce-right;
	animation-name: bounce-right;
}

@-webkit-keyframes peep-show {
	0%, 20%, 80%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

//	40%, 60% {
//		-webkit-transform: translateX(-20px);
//		transform: translateX(-20px);
//	}

	35%, 65% {
		-webkit-transform: translateX(-80px);
		transform: translateX(-80px);
	}
}

@keyframes peep-show {
	0%, 20%, 80%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

//	30%, 70% {
//		-webkit-transform: translateX(-27px);
//		-ms-transform: translateX(-27px);
//		transform: translateX(-27px);
//	}

	35%, 65% {
		-webkit-transform: translateX(-80px);
		-ms-transform: translateX(-80px);
		transform: translateX(-80px);
	}
}
.peep-show {
	-webkit-animation-name: peep-show;
	-moz-animation-name: peep-show;
	animation-name: peep-show;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

/*--------- RESPONSIVE STYLE LOADING --------*/
/*--------- FOR EVERYTHING OTHER THAN iPHONE --------*/

/* iPad Portrait */
@media only screen and (min-width: $bp-iphone-landscape + 1) and (max-width: $bp-ipad-portrait) and (orientation: portrait) {
	@import 'ipad-portrait';
}

/* iPad Landscape */
@media only screen and (min-width: $bp-ipad-portrait) and (max-width: $bp-ipad-landscape) and (orientation: landscape) {
	@import 'ipad-landscape';
}

/* Small Desktop */
@media only screen and (max-height: $bp-desktop-small-height) and (min-width: $bp-ipad-landscape + 1) and (max-width: $bp-desktop) {
	@import 'desktop-small';
}

/* Large Desktop */
@media only screen and (min-width: $bp-ipad-landscape + 1) and (orientation: landscape) {
	@import 'desktop-large';
}
