//@import '../bower_components/sass-bootstrap/lib/bootstrap.scss';
@import 'mixins';

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$content-width: 1000px;
$screen-width: 1200px;

$bp-sm: 40em;
$bp-md: 46.8em;
$bp-lg: 50em;
$bp-xl: 73em;

$dkGrey: #4D4D4D;
$medGrey: #444444;
$ltGrey: #BAB2AA;
$artifact-pink: #FFE4D3;
$artifact-blue: #2470B3;

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.fullpage {
	position: relative;
	&.horiz {
		float:left;
	}
}

* {
	text-rendering: optimizeLegibility;
}

html,
body {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	@media screen and (max-width: $bp-lg) {
		padding: 0 15px;
	}
}

.active {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
}
.trade {
	font-size: .5em;
	font-weight: 100;
	vertical-align: text-top;
}

a:hover {
	text-decoration: none;
}

//h4 {
//	font-size: 24px;
//	line-height: 24px;
//	margin: 0;
//	padding: 0;
//}

/*--------- NAV --------*/

.at-inline {
	position: relative;
	display: inline-block;
}

.at-navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	.at-navbar-wrapper {
		@media screen and (orientation: landscape) {
			height: 40px;
		}
		@media screen and (orientation: portrait) {
			height: 60px;
		}
		width: 100%;
		position: relative;
		background-color: rgba(0,0,0,1);
		&.home {
          -webkit-transition:0.5s linear all;
          transition:0.5s linear all;
			background-color: rgba(0,0,0,.7);
			height: 60px;
			border-bottom: 1px solid #E8FFDB;
		}
	}
	.home {
      -webkit-transition:0.5s linear all;
      transition:0.5s linear all;
		.at-navbar-banner {
			.at-navbar-header {
				width: 100%;
				height: 60px;
				margin: 0 auto;
				padding-top: 0px;
				padding-right: 0;
				text-align: center;
				a {
					width: 100%;
					margin: 0 auto;
					font-size: 13px;
					letter-spacing: .2em;
					.logo {
						display: inline-block;
						width: 10px;
						height: 12px;
						margin: 0;
						margin-right: 5px;
					}
					.thin {
						font-weight: 100;
					}
				}
			}
		}
	}
	.at-navbar-banner {
		position: relative;
		width: 100%;
		height: 40px;
		.at-navbar-header {
			@media screen and (orientation: portrait) {
				position: relative;
				display: block;
				width: 18em;
				left: 50%;
				margin-left: -(9em);
			}
			@media screen and (orientation: landscape) {
				position: relative;
				display: inline-block;
				float: left;
				width: 18em;
				padding-left: .5em;
				clear: none;
				margin-right: .5em;
				a {
					width: 18em;
				}
			}
			padding-top: 5px;
			clear: both;
			text-align: center;
			a {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 13px;
				font-weight: 700;
				color: $ltGrey;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: .2em;
				.logo {
					display: inline-block;
					width: 10px;
					height: 12px;
					margin: 0;
					margin-right: 5px;
				}
				.thin {
					font-weight: 100;
				}
				.active {
					color: white;
				}
				&:hover {
					color: white;
				}
			}
		}
		.at-navbar-main {
			@media screen and (orientation: portrait) {
				display: block;
				margin: 0 auto;
				padding-top: 0;
				clear: both;
			}
			@media screen and (orientation: landscape) {
				display: inline-block;
				padding-top: 5px;
			}
			width: 22em;
			a {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 11px;
				color: $dkGrey;
				text-transform: uppercase;
				text-decoration: none;
				@media screen and (orientation: landscape) {
					padding-right: 5px;
				}
				@media screen and (orientation: portrait) {
					padding-right: 8px;
				}
				&.active {
					color: white;
				}
				&:last-child {
					padding-right: 0;
				}
				&:hover {
					color: white;
				}
			}
			&.home {
				// CORRECT THIS WHEN .HOME ASSIGNMENT WORKS!!!!
				width: 100%;
				height: 20px;
				padding-top: 0px;
				text-align: center;
				&.home {
					display: block;
					margin: 0 auto;
					a {
						color: $dkGrey;
						font-size: 10px;
						padding-right: 100px;
						&:hover {
							color: white;
						}
						&:active {
							color: white;
						}
						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

		}
	}
	.at-subnav-wrapper {
		width: 100%;
		height: 22px;
		position: relative;
		background-color: rgba(0,0,0,.7);
		&.home {
			height: 0px;
		}
		.at-subnav {
			width: 100%;
			margin: 0 auto;
			padding: 0 15px;
			.at-navbar-subnav {
				a {
					font-family: 'Helvetica Neue', sans-serif;
					font-size: 18px;
					color: rgba(161, 161, 161, 1);
					text-transform: uppercase;
					text-decoration: none;
					padding-top: 5px;
					padding-right: 20px;
					padding-bottom: 5px;
					&.active {
						color: white;
					}
					&:last-child {
						padding-right: 0;
					}
					&:hover {
						color: white;
					}
				}
			}
		}
	}
}

/*-------- NAV BUTTONS --------*/

.at-arrow-left {
	position: absolute;
	@include nav-button(left, 62px);
	&.lower {
		top: 60%;
	}
}
.at-arrow-right {
	position: absolute;
	@include nav-button(right, 62px);
	&.lower {
		top: 60%;
	}
}
.at-about-chevron {
	width: 12em;
	height: 1em;
	text-align: right;
	@media screen and (max-width: $bp-md) and (orientation: landscape) {
		float: right;
		top: 6.4em;
	}
	@media screen and (max-width: $bp-md) and (orientation: portrait) {
		float: right;
		top: 6.9em;
	}
	@include nav-button(right, .5em);
	h4.at-about-team-link {
		position: absolute;
		display: inline-block;
		top: 0;
		right: 42px;
		margin: 0;
		margin-top: 2px;
		padding-right: 5px;
		font-size: .9em;
		font-weight: 300;
		text-decoration: none;
		color: #333333;
		&:hover {
			color: $artifact-blue;
		}
	}
	.at-about-chevron-img {
		display: inline-block;
		width: 19px;
		height: 14px;
		top: 0;
	}
}
.at-arrow-down {
	position: absolute;
	left: 50%;
	bottom: 0px;
	padding-bottom: 20px;
	margin-left: -20.5px;
	img {
		width: 41px;
		height: 18px;
	}
}

/*-------- PAGE --------*/

.at-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	//	visibility: hidden;
	//	backface-visibility: hidden;
	//	transform: translate3d(0, 0, 0);
}
.at-page-current,
.no-js .at-page {
	visibility: visible;
}
.no-js body {
	overflow: auto;
}
.at-page-ontop {
	z-index: 999;
}

.at-content {
	position: relative;
	width: 100%;
	height: 100%;
}

/*-------- HOME --------*/

.at-main-message {
	position: absolute;
	width: 20em;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -10em;
	text-align: center;
	h1 {
		color: $artifact-pink;
		font-size: 2em;
		text-transform: lowercase;
		font-weight: 100;
		letter-spacing: .1em;
		margin: 0;
	}
}

/*-------- ABOUT.MAIN, ABOUT.TEAM --------*/

.at-about-main-text {
	position: relative;
	width: 12.5em;
	height: auto;
	float: left;
	margin-top: 5.4em;
	padding: 0;
	@media screen and (orientation: portrait) {
		margin-top: 6.4em;
	}
	h1 {
		font-size: 1.4em;
		margin: 0;
		margin-bottom: .4em;
	}
	p {
		font-family: 'Helvetica Neue', sans-serif;
		font-size: .9em;
		line-height: 1.2em;
		margin-bottom: .1em;
	}
	.at-about-artifact {
		@media screen and (max-width: $bp-sm) {
			visibility: hidden;
			height: 0;
		}
		position: relative;
		width: 100%;
		.pointer {
			width: 0px;
			height: 0px;
			margin-top: 6px;
			border-style: solid;
			border-width: 24px 0 0 14px;
			border-color: transparent transparent transparent white;
			@media screen and (max-width: $bp-md) {
				border-width: 12px 0 0 7px;
			}
			&#showA {
				margin-left: 24px;
				@media screen and (max-width: $bp-md) {
					margin-left: 15px;
				}
			}
			&#showR {
				margin-left: 60px;
				@media screen and (max-width: $bp-md) {
					margin-left: 37px;
				}
			}
			&#showT {
				margin-left: 94px;
				@media screen and (max-width: $bp-md) {
					margin-left: 60px;
				}
			}
			&#showI {
				margin-left: 120px;
				@media screen and (max-width: $bp-md) {
					margin-left: 76px;
				}
			}
			&#showF {
				margin-left: 140px;
				@media screen and (max-width: $bp-md) {
					margin-left: 90px;
				}
			}
			&#showA2 {
				margin-left: 168px;
				@media screen and (max-width: $bp-md) {
					margin-left: 106px;
				}
			}
			&#showC {
				margin-left: 202px;
				@media screen and (max-width: $bp-md) {
					margin-left: 127px;
				}
			}
			&#showT2 {
				margin-left: 238px;
				@media screen and (max-width: $bp-md) {
					margin-left: 149px;
				}
			}
		}
		.at-about-artifact-bubble {
			@media screen and (orientation: landscape) {
				width: 470px;
				margin: 0 auto;
			}
			background: white;
			border-radius: 5px;
			padding: 10px;
			h2 {
				margin: 0;
				padding: 0;
				font-size: 36px;
			}
			p {
				margin-top: 5px;
				padding: 0;
				font-size: 1em;
			}
		}
		h1 {
			font-size: 3em;
			margin: 0;
			.underlined {
				//				padding-bottom: -5px;
				border-bottom: 3px solid;
				cursor: pointer;
			}
			.letter {
			}
		}
	}
}
.at-about-team {
	position: relative;
	display: block;
	width: 100%;
	height: inherit;
	margin: 0 auto;
	padding-top: 6em;
	background: transparent;
	.team-member {
		width: 20em;
		float: left;
		&.at-left {
			margin-right: 2em;
			@media screen and (max-width: $screen-width) {
				margin-right: 2em;
			}
		}
		&.at-right {
			margin-left: 2em;
			@media screen and (max-width: $screen-width) {
				margin-left: 2em;
			}
		}
		.team-photo {
			width: 20em;
			height: 10em;
			margin-top: 5px;
			background-color: white;
		}
		.team-member-banner {
			position: relative;
			h1 {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 24px;
				text-transform: none;
				padding: 5px 0;
				margin-top: 0;
				margin-bottom: 0;
				@media screen and (max-width: $screen-width) {
					font-size: 18px;
				}
			}
			h2 {
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 18px;
				text-transform: none;
				padding: 5px 0;
				margin-top: 0;
				margin-bottom: 0;
				@media screen and (max-width: $screen-width) {
					font-size: 15px;
				}
			}
			.linked-in {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 5px;
				right: 29px;
				background: url(../images/linked-in.png) center center no-repeat;
				background-size: contain;
				&:hover {
					background: url(../images/linked-in-active.png) center center no-repeat;
					background-size: contain;
				}
				&:active {
					background: url(../images/linked-in-active.png) center center no-repeat;
					background-size: contain;
				}
			}
			.twitter {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 5px;
				right: 0px;
				background: url(../images/twitter.png) center center no-repeat;
				background-size: contain;
				&:hover {
					background: url(../images/twitter-active.png) center center no-repeat;
					background-size: contain;
				}
				&:active {
					background: url(../images/twitter-active.png) center center no-repeat;
					background-size: contain;
				}
			}
		}
		.team-member-text {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 1.1em;
			hyphens: auto;
			@media screen and (max-width: $screen-width) {
				font-size: 14px;
				padding-top: 10px;
			}
		}
		.team-member-hobbies {
			font-family: 'Helvetica Neue', sans-serif;
			color: $medGrey;
			font-size: 0.9em;
			font-weight: regular;
			hyphens: auto;
			padding: 0 5px 0;
			p {
				margin-bottom: 5px;
			}
			@media screen and (max-width: $screen-width) {
				font-size: 12px;
			}
			.quiz {
				font-family: 'Helvetica Neue', sans-serif;
			}
			a {
				color: $medGrey;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					color: $artifact-blue;
				}
			}
		}
	}
	.member-divider {
		position: relative;
		float: left;
		height: 90%;
		top: 0;
		border-right:1px solid black;
	}
}

/*-------- PLATFORM.MAIN, etc. --------*/

.at-platform{
	position: relative;
	padding-top: 5.4em;
	width: 100%;
	margin: 0 auto;
	@media screen and (orientation: portrait) {
		padding-top: 6.4em;
	}
	h1 {
		width: 100%;
		text-align: left;
		font-size: 1.4em;
		margin: 0 0 .4em 0;
		padding-left: 2em;
	}
	.at-platform-list {
		width: 100%;
		margin: 0 auto;
		padding-top: 0;
		padding-bottom: .5em;
		ol li, li {
			&:last-child {
				margin-bottom: 0;
			}
			list-style: disc;
			font-family: 'Helvetica Neue', sans-serif;
			font-size: .9em;
			line-height: 1.2em;
			margin-bottom: .1em;
		}
	}
	.at-platform-menu {
		position: relative;
		margin: 0 auto;
		@media screen and (orientation: landscape) {
			width: 36em;
		}
		@media screen and (orientation: portrait) {
			width: 18em;
		}
		.at-platform-box {
			display: inline-block;
			width: 8.5em;
			height: 3em;
			float: left;
			padding: .5em;
			background: black;
			margin-right: .5em;
			margin-bottom: .5em;
			&:last-child {
				margin-right: 0;
			}
			.box-icon {
				display: inline-block;
				float: left;
				width: 2em;
				height: 2em;
			}
			.menu-title {
				display: inline-block;
				float: left;
				width: 3em;
				margin: 0;
				padding-left: 4px;
				padding-top: 5px;
				padding-bottom: 3px;
				font-family: 'Helvetica Neue', sans-serif;
				font-size: 13px;
				font-weight: 200;
				color: $artifact-pink;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	.at-platform-page {
		&.on-left {
			width: 12em;
		}
		h1 {
			text-align: left;
			font-size: 45px;
		}
		span {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 24px;
			line-height: 24px;
			text-transform: none;
		}
	}
}
//.at-platform-title {
//	h1 {
//		font-size: 52px;
//	}
//	font-size: 36px;
//}

/*-------- WORK.MAIN, etc. --------*/

.at-work{
	position: relative;
	padding-top: 5.4em;
	width: 100%;
	margin: 0 auto;
	@media screen and (orientation: portrait) {
		padding-top: 6.4em;
	}
	h1 {
		width: 100%;
		font-size: 1.4em;
		margin: 0 auto;
		margin-bottom: .4em;
		text-align: center;
	}
	.at-work-page {
		position: relative;
//		width: 56%;
//		margin-top: 222px;
//		margin-left: 44%;
		h1 {
			text-align: left;
			font-size: 1.4em;
		}
		.at-app-title {
			width: 100%;
			margin-top: 0;
			margin-left: 0;
			padding: 0;
			.small-caps {
				font-size: 1.1em;
			}
		}
		p {
			font-family: 'Helvetica Neue', sans-serif;
			font-size: .9em;
			line-height: 1.2em;
			margin-bottom: .1em;
			text-transform: none;
			&.at-app-desc {
				width: 100%;
				margin-left: 0;
				padding-bottom: 0;
				font-size: .9em;
				line-height: 1.2em;
			}
		}
		.at-phones {
			width: 292px;
			min-height: 300px;
			margin: 0 auto;
			margin-bottom: 1em;
			.at-phone {
				position: relative;
				display: inline-block;
				float: left;
				width: 139px;
				height: 282px;
				top: 0px;
				&.at-left {
					margin-left: 0;
					//				    margin-left: ($content-width - (252px * 2) - 50px) / 2;
				}
				&.at-right {
					margin-left: 1em;
				}
			}
		}
		.promo-videos {
			display: inline-block;
			width: 100%;
			height: 20px;
			font-size: 18px;
			color: $medGrey;
			margin-left: 0;
			a {
				display: inline-block;
				height: 20px;
				float: left;
				padding-right: 40px;
				color: $medGrey;
				cursor: pointer;
				&:hover {
					color: $artifact-blue;
				}
			}
		}
	}
}

/*-------- CONTACT --------*/

.at-contact {
	width: 100%;
	margin: 0 auto;
	padding-top: 5.4em;
	@media screen and (orientation: portrait) {
		padding-top: 6.4em;
	}
	h1 {
		width: 100%;
		font-size: 1.4em;
		margin: 0 auto;
		margin-bottom: .4em;
		text-align: center;
	}
	.contact-info {
		font-family: 'Helvetica Neue', sans-serif;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 1em;
		font-size: 16px;
		text-align: center;
		line-height: 20px;
		a {
			color: #333333;
			&:hover {
				color: $artifact-blue;
			}
		}
		.twitter {
			display: block;
			width: 35px;
			height: 35px;
			margin: 0 auto;
			background: url(../images/twitter.png) center center no-repeat;
			background-size: contain;
			&:hover {
				background: url(../images/twitter-active.png) center center no-repeat;
				background-size: contain;
			}
		}
	}
}

.at-footer {
	position: absolute;
	display: inline-block;
	vertical-align: bottom;
	bottom: 0;
	width: 100%;
	height: 3em;
	padding-top: .5em;
	background: black;

	border-top: 1px solid #E8FFDB;
	p {
		font-family: 'Helvetica Neue', sans-serif;
		font-size: .8em;
		font-weight: 400;
		line-height: 1em;
		text-align: center;
		color: #80807D;
	}
}

/*-------- OTHER STUFF --------*/

.v-centered-right {
	position: absolute;
	height: 20px;
	top: 50%;
	right: 0;
	padding-right: 20px;
	margin-top: -10px;
}
.v-centered-left {
	position: absolute;
	height: 20px;
	top: 50%;
	left: 0;
	padding-left: 20px;
	margin-top: -10px;
}
.h-centered-bottom {
	position: absolute;
	width: 20px;
	left: 50%;
	bottom: 0;
	padding-bottom: 20px;
	margin-left: -10px;
}
.at-perspective {
	position: relative;
	width: 100%;
	@media screen and (max-width: $screen-width) {
		width: $screen-width;
	}
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}

/* animation sets */
/* move from / to  */

.at-page-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	-moz-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.at-page-moveFromLeft {
	-webkit-animation: moveFromLeft .6s ease both;
	-moz-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

.at-page-moveToRight {
	-webkit-animation: moveToRight .6s ease both;
	-moz-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}

.at-page-moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	-moz-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}


.at-page-moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	-moz-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.at-page-moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	-moz-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

.at-page-moveToBottom {
	-webkit-animation: moveToBottom .6s ease both;
	-moz-animation: moveToBottom .6s ease both;
	animation: moveToBottom .6s ease both;
}

.at-page-moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	-moz-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

/********************************* keyframes **************************************/

/* move from / to  */

@-webkit-keyframes moveToLeft {
	to { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeft {
	to { -moz-transform: translateX(-100%); }
}
@keyframes moveToLeft {
	to { transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveFromLeft {
	from { -moz-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight {
	to { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveToRight {
	to { -moz-transform: translateX(100%); }
}
@keyframes moveToRight {
	to { transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRight {
	from { -moz-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
}

@-webkit-keyframes moveToTop {
	to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTop {
	to { -moz-transform: translateY(-100%); }
}
@keyframes moveToTop {
	to { transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTop {
	from { -moz-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
	to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveToBottom {
	to { -moz-transform: translateY(100%); }
}
@keyframes moveToBottom {
	to { transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveFromBottom {
	from { -moz-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { transform: translateY(100%); }
}

/* animation delay classes */

.at-page-delay100 {
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	animation-delay: .1s;
}
.at-page-delay180 {
	-webkit-animation-delay: .180s;
	-moz-animation-delay: .180s;
	animation-delay: .180s;
}
.at-page-delay200 {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	animation-delay: .2s;
}
.at-page-delay300 {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	animation-delay: .3s;
}
.at-page-delay400 {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	animation-delay: .4s;
}
.at-page-delay500 {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	animation-delay: .5s;
}
.at-page-delay700 {
	-webkit-animation-delay: .7s;
	-moz-animation-delay: .7s;
	animation-delay: .7s;
}
.at-page-delay1000 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

//.big-content {
//	width: 100%;
//	height: 100px;
//	margin-bottom: 50px;
//	background: rgba(255,255,255,.5);
//}
//
//#header {
//	.container {
//		ul {
//			padding-left: 5px;
//			background: #fff;
//		    li {
//				display: inline-block;
//				padding-left: 15px;
//				&:hover {
//					text-decoration: none;
//					cursor: pointer;
//					color: rgba(30,60,90,.5);
//					font-weight: 400;
//				}
//				&:first-of-type {
//					padding-top: 10px;
//				}
//		    }
//		}
//	}
//}
//
//#home {
//	background: #235fd1;
//}
//#about {
//	background: #d43f3a;
//}
//#team1,
//#team2,
//#team3,
//#team4,
//#team5 {
//	background: #f8c3a2;
//}
//#platform {
//	background: #dea453;
//}
//#work {
//	background: #9cece2;
//}
//#contact {
//	background: #4daf9b;
//}
//#footer {
//	position: relative;
//	height:80px;
//	bottom: 0;
//	width: 100%;
//	background: #fafe31;
//	padding-bottom: 50px;
//}

///* iPads (portrait and landscape) ----------- */
//@media only screen
//and (min-device-width : 768px)
//and (max-device-width : 1024px) {
//	.container {
//		max-width: 730px;
//	}
//
//	/* Remove the padding we set earlier */
//	.header,
//	.marketing,
//	.footer {
//		padding-left: 0;
//		padding-right: 0;
//	}
//	/* Space out the masthead */
//	.header {
//		margin-bottom: 30px;
//	}
//	/* Remove the bottom border on the jumbotron for visual effect */
//	.jumbotron {
//		border-bottom: 0;
//	}
//}
//
//
//* {margin: 0; padding: 0; outline: 0;}
//
//
//body {
//  font-family: Helvetica, Arial, Verdana, sans-serif;
//  color: #999;
//  font-size: 12px;
//  background:#bfbfbf;
//
//
//}
//
//
//h1, h2 {
//  font-family: 'Open Sans', sans-serif;
//  font-weight: 300;
//  margin:0 0 15px 0;
//}
//
//
//h1 {
//  font-size: 36px;
//  letter-spacing: -2px;
//  line-height: 100%;
//}
//
//h1.title {
//  font-size: 46px;
//  font-weight: 700;
//  color: #6a6a6a;
//
//
//}
//
//
//h2 {
//  font-size: 24px;
//}
//
//p {
//  margin: 0 0 15px 0;
//}
//
//.menuBtn {
//
//  background: center center no-repeat transparent;
//  background: #000;
//  display: block;
//  width: 40px;
//  height: 40px;
//  position: absolute;
//  top: 0;
//  left: 10px;
//
//}
//
//.active {
//  background: #3B5323;
//}
//.clear {
//  clear: both;
//}
//.wrap {
////  /*background:url(../images/bg.png) top left repeat-x;*/
//  width: 100%;
//  max-width: 1140px;
//  min-width: 960px;
//  z-index: 10;
//  position: relative;
//  margin: 0 auto;
//  padding: 0;
//
//}
//
//
//
////.section {
////  width: 100%;
////  max-width: 1140px;
////  min-width: 960px;
////  z-index: 10;
////  position: relative;
////  margin: 0 auto;
////  padding: 0 0 20px 0;
////}
//
//
//.inner {
//  width: 100%;
//  margin: 0 auto;
//  position: relative;
//  min-height: 50px;
////  padding:30px 0;
//  font-size: 18px;
//  font-family: 'Open Sans', sans-serif;
//  font-weight: 300;
////  padding:30px 0;
//}
//
//
///* This is the selector i used for my menu, it needs to be set as position:absolute; */
//.subMenu {
//  position: absolute;
//  top: 462px;
//  height: 50px;
//  z-index: 1000;
//  width: 100%;
//  max-width: 1140px;
//  min-width: 960px;
//  background: #aabd46;
//
//}
//
//.subMenu .inner {
//  padding:0;
//  font-weight: 400;
//}
//
//
//
//
//
//.subNavBtn {
//  display: block;
//  height: 35px;
//  width: 12%;
//  float: left;
//  margin: 0px 0px 0 0;
//  text-decoration: none;
//  font-size: 14px;
//  padding: 15px 2% 0 2%;
//  text-align: center;
//  color: #fff;
//}
//
//.end {
//  margin: 0;
//}
////
////
///* SECTIONS */
//.sTop {
//  min-height: 630px;
//  background:#e5e5e5;
//  color:#3d3d3d;
//
//}
//
//
//
//.s1 {
//  min-height: 500px;
//  background: #2e2e2e;
//}
//
//
//.s2 {
//  min-height: 500px;
//  background: #3f3f3f;
//}
//
//
//.s3 {
//  min-height: 500px;
//  background: #504f4f;
//}
//
//
//.s4 {
//  min-height: 500px;
//  background: #6e87a1;
//  color: white;
//}
//
//.s5 {
//  min-height: 500px;
//  background: #293b4d;
//  color: white;
//}
//
