<div id="about-container" panel="1" size="cover" attachment="fixed">


    <div id="cindi" class="fullpage horizontal" panel=".5">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member">
                    <div class="team-photo" background-img="../images/team/cindi.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Cindi McCurdy</h1>

                        <h2>Senior Product Manager</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/pub/cynthia-mccurdy/0/57/77a"
                           target="_blank"></a>
                        <a class="twitter" ng-href="" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Cynthia has over 20 years of experience creating products and managing teams for Microsoft,
                            Tooned In Animations, Logitech, INRIX, Ford, AT&T, and Jamoki LLC. Cynthia’s work as a
                            senior GPM/PM has produced an array of products from Excel, to Julia Child’s CD ROM “Home
                            Cooking with Master Chefs”, to INRIX Inc.s’ cross-platform mobile Traffic application. She
                            combines her early education in Film and Television with her degree in Computers & Business
                            to design and deliver products using her technical project management, UI/UX skills.</p>
                    </div>
                    <div class="team-member-hobbies" ng-hide="isMobile()">
                        <p>Two Favorite Hobbies:</p>

                        <p>Gardening and costuming - especially Halloween get-ups.</p>

                        <p class="quiz">More on Cindi:</p>

                        <p class="quiz">AT: "Hey Cindi, if you could spend one day at any job ever invented, what would
                            it be and why?"</p>

                        <p><span class="quiz">Cindi:</span> "I would be on site for the next 'Lord of the Rings' filming
                            assigned to overseeing the creation of Gollum (with a superstar team on board of course).
                            And I'll need more than a day :)"</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="at-arrow-left centered" ng-click="previousView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-left.png">
        </a>
    </div>

    <div id="robb" class="fullpage horizontal" panel=".5">
        <div class="container">
            <div class="at-about-team">
                <!--<div class="member-divider"></div>-->
                <div class="team-member">
                    <div class="team-photo" background-img="../images/team/robb.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Robb Vest</h1>

                        <h2>Senior Graphic Artist</h2>
                        <a class="linked-in" size="contain" ng-href="www.linkedin.com/pub/robert-vest/1/607/200"
                           target="_blank"></a>
                        <a class="twitter" size="contain" ng-href="https://twitter.com/robbvest" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>With over 20 years experience in the field of design Robb’s work includes interactive design,
                            visual design, brand identity, and ca&shy;sual games design. Robb has worked with several
                            high profile en&shy;terprises such as ABC News, MTV Networks, HBO, and Pepsi with industry
                            leading companies in mobile marketing, technology con&shy;sulting and gaming.</p>
                    </div>
                    <div class="team-member-hobbies" ng-hide="isMobile()">
                        <p>Two Favorite Hobbies:</p>

                        <p>Enjoying the craftsmanship of modern engineered automotives, caring for and maintaining
                            classic automobiles.</p>

                        <p class="quiz">More on Robb:</p>

                        <p class="quiz">AT: "Hey Robb, if you could spend one day at any job ever invented, what would
                            it be and why?"</p>

                        <p><span class="quiz">Robb:</span> "Apprenticeship with Maurits Cornelis Escher during his
                            creation of San Gimignano 1923 woodcut."</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="at-arrow-right centered" ng-click="nextView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-right.png">
        </a>
    </div>


</div>
