<div id="about-container" panel-container="1" size="cover" attachment="fixed">
    <div id="greg" class="fullpage horizontal" panel=".5" horizontal="true">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member">
                    <div class="team-photo" background-img="../images/team/greg.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Greg Heuss</h1>
                        <h2>Chief Executive Officer</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/pub/greg-heuss/0/377/48a" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/grh2323" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Greg has 20 years of start-up leadership. He started his career in the music and entertainment industry before becoming one of the early members of the original Amazon.com marketing team. He has taken companies public, merged with fortune 100 corpor&shy;ations and has a vast background in mobile based products, SAAS and subscription revenue models, and has helped build some of the biggest brands in the world.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>A hobby of mine that is turning into a business is wine-making - I'm on my fourth vintage and starting a winery with a few friends.  My most fulfilling hobby is volunteering at Little Bit Therapeutic Riding - helping children with disabilities overcome fears and obstacles via the help of fantastic four legged "therapists" - horses.</p>
                        <p class="quiz">More on Greg:</p>
                        <p class="quiz">AT: "Hey Greg, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Greg:</span> "I'd be a GM of an NFL team on draft day.  The stats, analysis, decisions, wheeling and dealing - it's all that I love."</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="at-arrow-left" ng-click="previousView('about')">
            <img src="../images/arrow-left.png">
        </a>
    </div>

    <div id="brent" class="fullpage horizontal" panel=".5" horizontal="true" in-view="isInView(id)">
        <div class="container">
            <div class="at-about-team">
                <!--<div class="member-divider"></div>-->
                <div class="team-member">
                    <div class="team-photo" background-img="../images/team/brent.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Brent Friedman</h1>
                        <h2>Co-founder, CCO</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/pub/brent-friedman/4/342/72" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/bfree63" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>As a Creator, Writer and Producer, Brent has more than 25 years of experience in entertainment across all platforms. In traditional media, Brent has worked with nearly all the major Hollywood studios.</p>
                    </div>
                    <div class="team-member-hobbies">
                        <p>Two Favorite Hobbies:</p>
                        <p>Listening to great music and convincing myself I might one day be as good a musician as those I admire.</p>
                        <p class="quiz">More on Brent:</p>
                        <p class="quiz">AT: "Hey Brent, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Brent:</span> "I would work at Majestic 12 so I could learn the full truth about aliens."</p>
                    </div>
                </div>
            </div>
        </div>


        <a class="at-arrow-right" ng-click="nextView('about')">
            <img src="../images/arrow-right.png">
        </a>
    </div>


</div>

<!--<div id="sam" class="fullpage horizontal horiz" background panel=".5" horizontal="true" in-view="isInView(id)">-->
    <!--<div class="container">-->
        <!--<div class="at-about-team">-->
            <!--<div class="team-member">-->
                <!--<div class="team-photo" background-img="../images/team/sam.png" size="cover"></div>-->
                <!--<div class="team-member-banner">-->
                    <!--<h1>Sam Teplitsky</h1>-->
                    <!--<h2>Co-founder, CMO</h2>-->
                    <!--<a class="linked-in" ng-href="http://www.linkedin.com/in/samteplitsky" target="_blank"></a>-->
                    <!--<a class="twitter" ng-href="https://twitter.com/samtep" target="_blank"></a>-->
                <!--</div>-->
                <!--<div class="team-member-text">-->
                    <!--<p>Sam has 15 years of experience in the media & entertainment industry creating executing innovative solutions for mobile, enter&shy;tainment, retail, and advertising companies. His management ex&shy;pertise spans creative direction, new media initiatives, mobile product and business development.</p>-->
                <!--</div>-->
                <!--<div class="team-member-hobbies">-->
                    <!--<p>Two Favorite Hobbies:</p>-->
                    <!--<p>Laughing, Cooking</p>-->
                    <!--<p class="quiz">More on Sam:</p>-->
                    <!--<p class="quiz">AT: "Hey Sam, if you could spend one day at any job ever  invented, what would it be and why?"</p>-->
                    <!--<p><span class="quiz">Sam:</span> "I'd like to work the grill at <a ng-href="http://www.google.com/url?q=http%3A%2F%2Fwww.foodandwine.com%2Frestaurants%2Fetxebarri-bilbao&sa=D&sntz=1&usg=AFQjCNH8VdxfDSn5_c0b1uMhEHVt2ka6JA" title="Extebarri Restaurant">Etxebarri</a> Restaurant in the Basque Village of Axpe. If that isn't possible I'd be content chopping the wood."</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="ben" class="fullpage horizontal horiz" background panel=".5" horizontal="true" in-view="isInView(id)">-->
    <!--<div class="container">-->
        <!--<div class="at-about-team">-->
            <!--&lt;!&ndash;<div class="member-divider"></div>&ndash;&gt;-->
            <!--<div class="team-member">-->
                <!--<div class="team-photo" background-img="../images/team/ben.png" size="cover"></div>-->
                <!--<div class="team-member-banner">-->
                    <!--<h1>Ben McAllister</h1>-->
                    <!--<h2>VP, Development and Production</h2>-->
                    <!--<a class="linked-in" ng-href="http://www.linkedin.com/in/listenfaster" target="_blank"></a>-->
                    <!--<a class="twitter" ng-href="https://twitter.com/listenfaster" target="_blank"></a>-->
                <!--</div>-->
                <!--<div class="team-member-text">-->
                    <!--<p>Ben McAllister has more than 14 years experience bridging tech&shy;nology, science, and art developing several emerging technologies at key milestones in the music business including streaming audio, DRM, and emerging cross platform systems. As an interactive de&shy;signer and installation artist, Ben's been featured in gallery work bringing his unique motion tracking and audio analysis software to visitors.</p>-->
                <!--</div>-->
                <!--<div class="team-member-hobbies">-->
                    <!--<p>Two Favorite Hobbies:</p>-->
                    <!--<p>Writing music and running</p>-->
                    <!--<p class="quiz">More on Ben:</p>-->
                    <!--<p class="quiz">AT: "Hey Ben, if you could spend one day at any job ever  invented, what would it be and why?"</p>-->
                    <!--<p><span class="quiz">Ben:</span> "On some huge Library of Congress grant, I'd collect field recordings of music and sound in some remote area, somewhere untouched by western civilization.  I love recording new sounds, and I'd learn a lot about survival, sound and how humans interact with technology in the process."</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--</div>-->