<div id="about-container" panel="1" size="cover" attachment="fixed">

    <div id="greg" class="fullpage horizontal" panel=".5">
        <div class="container">
            <div class="at-about-team">
                <div class="team-member">
                    <div class="team-photo" background-img="../images/team/greg.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Greg Heuss</h1>
                        <h2>Chief Executive Officer</h2>
                        <a class="linked-in" ng-href="http://www.linkedin.com/pub/greg-heuss/0/377/48a" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/grh2323" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>Greg has 20 years of start-up leadership. He started his career in the music and entertainment industry before becoming one of the early members of the original Amazon.com marketing team. He has taken companies public, merged with fortune 100 corpor&shy;ations and has a vast background in mobile based products, SAAS and subscription revenue models, and has helped build some of the biggest brands in the world.</p>
                    </div>
                    <div class="team-member-hobbies" ng-hide="isMobile()">
                        <p>Two Favorite Hobbies:</p>
                        <p>A hobby of mine that is turning into a business is wine-making - I'm on my fourth vintage and starting a winery with a few friends.  My most fulfilling hobby is volunteering at Little Bit Therapeutic Riding - helping children with disabilities overcome fears and obstacles via the help of fantastic four legged "therapists" - horses.</p>
                        <p class="quiz">More on Greg:</p>
                        <p class="quiz">AT: "Hey Greg, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Greg:</span> "I'd be a GM of an NFL team on draft day.  The stats, analysis, decisions, wheeling and dealing - it's all that I love."</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="at-arrow-left centered" ng-click="previousView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-left.png">
        </a>
    </div>

    <div id="brent" class="fullpage horizontal" panel=".5" >
        <div class="container">
            <div class="at-about-team">
                <!--<div class="member-divider"></div>-->
                <div class="team-member">
                    <div class="team-photo" background-img="../images/team/brent.png" size="cover"></div>
                    <div class="team-member-banner">
                        <h1>Brent Friedman</h1>
                        <h2>Co-founder, CCO</h2>
                        <a class="linked-in" ng-href="www.linkedin.com/pub/brent-friedman/4/342/72" target="_blank"></a>
                        <a class="twitter" ng-href="https://twitter.com/bfree63" target="_blank"></a>
                    </div>
                    <div class="team-member-text">
                        <p>As a Creator, Writer and Producer, Brent has more than 25 years of experience in entertainment across all platforms. In traditional media, Brent has worked with nearly all the major Hollywood studios.</p>
                    </div>
                    <div class="team-member-hobbies" ng-hide="isMobile()">
                        <p>Two Favorite Hobbies:</p>
                        <p>Listening to great music and convincing myself I might one day be as good a musician as those I admire.</p>
                        <p class="quiz">More on Brent:</p>
                        <p class="quiz">AT: "Hey Brent, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                        <p><span class="quiz">Brent:</span> "I would work at Majestic 12 so I could learn the full truth about aliens."</p>
                    </div>
                </div>
            </div>
        </div>

        <a class="at-arrow-right centered" ng-click="nextView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-right.png">
        </a>
    </div>


</div>
