<div id="ben" class="fullpage" panel="1">
    <div class="container">
        <div class="at-about-team">
            <!--<div class="member-divider"></div>-->
            <div class="team-member">
                <div class="team-photo" background-img="../images/team/ben.png" size="cover"></div>
                <div class="team-member-banner">
                    <h1>Ben McAllister</h1>
                    <h2>VP, Development and Production</h2>
                    <a class="linked-in" ng-href="http://www.linkedin.com/in/listenfaster" target="_blank"></a>
                    <a class="twitter" ng-href="https://twitter.com/listenfaster" target="_blank"></a>
                </div>
                <div class="team-member-text">
                    <p>Ben McAllister has more than 14 years experience bridging tech&shy;nology, science, and art developing several emerging technologies at key milestones in the music business including streaming audio, DRM, and emerging cross platform systems. As an interactive de&shy;signer and installation artist, Ben's been featured in gallery work bringing his unique motion tracking and audio analysis software to visitors.</p>
                </div>
                <div class="team-member-hobbies"  ng-hide="isMobile()">
                    <p>Two Favorite Hobbies:</p>
                    <p>Writing music and running</p>
                    <p class="quiz">More on Ben:</p>
                    <p class="quiz">AT: "Hey Ben, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                    <p><span class="quiz">Ben:</span> "On some huge Library of Congress grant, I'd collect field recordings of music and sound in some remote area, somewhere untouched by western civilization.  I love recording new sounds, and I'd learn a lot about survival, sound and how humans interact with technology in the process."</p>
                </div>
            </div>
        </div>
        <a class="at-arrow-left centered" ng-click="previousView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-left.png">
        </a>
        <a class="at-arrow-right centered" ng-click="nextView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-right.png">
        </a>
    </div>
</div>