<!--<div id="about-container" panel="1" size="cover" attachment="fixed">-->

    <div id="brent" class="fullpage" panel="1" >
            <div class="container">
                <div class="at-about-team">
                    <!--<div class="member-divider"></div>-->
                    <div class="team-member">
                        <div class="team-photo" background-img="../images/team/brent.png" size="cover"></div>
                        <div class="team-member-banner">
                            <h1>Brent Friedman</h1>
                            <h2>Co-founder, CCO</h2>
                            <a class="linked-in" ng-href="www.linkedin.com/pub/brent-friedman/4/342/72" target="_blank"></a>
                            <a class="twitter" ng-href="https://twitter.com/bfree63" target="_blank"></a>
                        </div>
                        <div class="team-member-text">
                            <p>As a Creator, Writer and Producer, Brent has more than 25 years of experience in entertainment across all platforms. In traditional media, Brent has worked with nearly all the major Hollywood studios.</p>
                        </div>
                        <div class="team-member-hobbies">
                            <p>Two Favorite Hobbies:</p>
                            <p>Listening to great music and convincing myself I might one day be as good a musician as those I admire.</p>
                            <p class="quiz">More on Brent:</p>
                            <p class="quiz">AT: "Hey Brent, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                            <p><span class="quiz">Brent:</span> "I would work at Majestic 12 so I could learn the full truth about aliens."</p>
                        </div>
                    </div>
                </div>
            </div>
        <a class="at-arrow-left" ng-click="previousView('about')">
            <img src="../images/arrow-left.png">
        </a>
        <a class="at-arrow-right" ng-click="nextView('about')">
            <img src="../images/arrow-right.png">
        </a>
    </div>
<!--</div>-->