<div id="ben" class="fullpage" panel="1">
    <div class="container">
        <div class="at-about-team">
            <div class="team-member">
                <div class="team-photo" background-img="../images/team/cindi.png" size="cover"></div>
                <div class="team-member-banner">
                    <h1>Cindi McCurdy</h1>

                    <h2>Senior Product Manager</h2>
                    <a class="linked-in" ng-href="www.linkedin.com/pub/cynthia-mccurdy/0/57/77a"
                       target="_blank"></a>
                    <a class="twitter" ng-href="" target="_blank"></a>
                </div>
                <div class="team-member-text">
                    <p>Cynthia has over 20 years of experience creating products and managing teams for Microsoft,
                        Tooned In Animations, Logitech, INRIX, Ford, AT&T, and Jamoki LLC. Cynthia’s work as a
                        senior GPM/PM has produced an array of products from Excel, to Julia Child’s CD ROM “Home
                        Cooking with Master Chefs”, to INRIX Inc.s’ cross-platform mobile Traffic application. She
                        combines her early education in Film and Television with her degree in Computers & Business
                        to design and deliver products using her technical project management, UI/UX skills.</p>
                </div>
                <div class="team-member-hobbies">
                    <p>Two Favorite Hobbies:</p>

                    <p>Gardening and costuming - especially Halloween get-ups.</p>

                    <p class="quiz">More on Cindi:</p>

                    <p class="quiz">AT: "Hey Cindi, if you could spend one day at any job ever invented, what would
                        it be and why?"</p>

                    <p><span class="quiz">Cindi:</span> "I would be on site for the next 'Lord of the Rings' filming
                        assigned to overseeing the creation of Gollum (with a superstar team on board of course).
                        And I'll need more than a day :)"</p>
                </div>
            </div>
        </div>
        <a class="at-arrow-left" ng-click="previousView('about')">
            <img src="../images/arrow-left.png">
        </a>
        <a class="at-arrow-right" ng-click="nextView('about')">
            <img src="../images/arrow-right.png">
        </a>
    </div>
</div>