<div id="ben" class="fullpage" panel="1">
    <div class="container">
        <div class="at-about-team">
            <!--<div class="member-divider"></div>-->
            <div class="team-member">
                <div class="team-photo" background-img="../images/team/john.png" size="cover"></div>
                <div class="team-member-banner">
                    <h1>John Lyon-Smith</h1>
                    <h2>Director of Product Development</h2>
                    <a class="linked-in" ng-href="www.linkedin.com/in/jlyonsmith" target="_blank"></a>
                    <a class="twitter" ng-href="https://twitter.com/jlyonsmith" target="_blank"></a>
                </div>
                <div class="team-member-text">
                    <p>John has extensive experience in commercial software develop&shy;ment through principle development, management and software architect positions, and is a contributor to numerous award-winning software products.</p>
                </div>
                <div class="team-member-hobbies"  ng-hide="isMobile()">
                    <p>Two Favorite Hobbies:</p>
                    <p>Playing the guitar and singing.  Good food, good drink and good company.</p>
                    <p class="quiz">More on John:</p>
                    <p class="quiz">AT: "Hey John, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                    <p><span class="quiz">John:</span> "President of the United States.  So that I might better understand why making effective changes that improves peoples lives is so hard."</p>
                </div>
            </div>
        </div>
        <a class="at-arrow-left centered" ng-click="previousView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-left.png">
        </a>
        <a class="at-arrow-right centered" ng-click="nextView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-right.png">
        </a>
    </div>
</div>