<div id="ben" class="fullpage" panel="1">
    <div class="container">
        <div class="at-about-team">
            <div class="team-member">
                <div class="team-photo" background-img="../images/team/matt.png" size="cover"></div>
                <div class="team-member-banner">
                    <h1>Matt Joss</h1>
                    <h2>Senior Software Architect</h2>
                    <a class="linked-in" ng-href="www.linkedin.com/pub/matt-joss/2/450/734" target="_blank"></a>
                    <a class="twitter" ng-href="https://twitter.com/mattjoss" target="_blank"></a>
                </div>
                <div class="team-member-text">
                    <p>Matt has more than 20 years’ experience as a mobile, desktop and web solutions architect spanning from direct to consumer work to enterprise software-as-a-service solutions. Matt received a Bach&shy;elor’s of Science degree in Electrical Engineering from the Univer&shy;sity of Michigan.</p>
                </div>
                <div class="team-member-hobbies"  ng-hide="isMobile()">
                    <p>Two Favorite Hobbies:</p>
                    <p>Two favorite hobbies are playing football and drinking beer.</p>
                    <p class="quiz">More on Matt:</p>
                    <p class="quiz">AT: "Hey Matt, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                    <p><span class="quiz">Matt:</span> "Other job would be Astronaut.  Cuz hanging out in zero g would be fantastic."</p>
                </div>
            </div>
        </div>
        <a class="at-arrow-left centered" ng-click="previousView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-left.png">
        </a>
        <a class="at-arrow-right centered" ng-click="nextView('about')" ng-hide="isMobile()">
            <img src="../images/arrow-right.png">
        </a>
    </div>
</div>