<div id="platform-creation" class="fullpage" panel='1' image="../images/bg/AT_platform-bg-3.png" size="cover" position="top center" in-view="isInView(id)">
    <div class="at-platform at-platform-top">
        <div class="at-platform-page">
            <h1 class="uncramp">Creation</h1>
            <p class="platform-text">Our integrated control panel allows an administrator to strategically deploy sponsored mosaics, and monitor their business profile.</p>
        </div>
    </div>
    <a class="at-arrow-left" ng-click="previousView('platform')">
        <img src="images/arrow-left.png">
    </a>

    <a class="at-arrow-right" ng-click="nextView('platform')">
        <img src="images/arrow-right.png">
    </a>
</div>