<div id="platform-commerce" class="fullpage" panel='1' image="../images/bg/AT_platform-bg-4.png" size="cover" position="top center" in-view="isInView(id)">
    <div class="at-platform at-platform-top">
        <div class="at-platform-page">
            <h1 class="uncramp move-up">Commerce</h1>
            <p>Flexible Mosaic<span class="trade">&trade;</span> parameters enable customized discovery, acquisition and consumption. Making mosaics limited after a certain time period, and charging for the most popular capsules gives businesses an opportunity to create supply and demand.</p>
        </div>
    </div>

    <a class="at-arrow-left lower" ng-click="previousView('platform')">
        <img src="images/arrow-left.png">
    </a>

    <a class="at-arrow-right lower" ng-click="nextView('platform')">
        <img src="images/arrow-right.png">
    </a>
</div>