<section id="work" class="fullpage" panel="1" size="cover" in-view="isInView(id)">
    <div class="container">
        <div class="at-work">
            <div class="at-work-page">
                <div class="text-wrapper">
                    <h1>Our Work</h1>
                    <p>Every person has a story to tell, and so does every place. Whether it's a community, a local
                        restaurant, a museum or any other point of interest, places in the real world are forced to tell
                        their story online &mdash; disconnected from their location. Here at Artifact, we have bridged the
                        gap between the real and the virtual with our LENS platform. LENS brings places alive by
                        connecting the people who are present with digital information, entertainment and commerce.</p>
                </div>
                <div class="at-phones">
                    <a class="at-phone at-left" bounce-on="['mouseover']"
                       background-img="../images/phone-lens.png" size="contain"
                       ng-click="currentViewById('work', 'work-lens')" title="LENS"></a>
                    <a class="at-phone at-right" bounce-on="['mouseover']"
                       background-img="../images/phone-fonograf.png" size="contain" xui-sref="work.fonograf"
                       ng-click="currentViewById('work', 'work-fonograf')" title="Fonograf"></a>
                </div>
            </div>
        </div>
    </div>
    <a class="at-work-chevron" ng-click="nextView('work')" bounce-right-on="['mouseover']" ng-hide="currentId.isMobile">
        <h4 class="at-work-link">View Details</h4>
        <span class="at-work-chevron-img" background-img="../images/chevrons-right.png" size="cover"></span>
    </a>
</section>
