<div class="at-page">
    <div class="at-content" background="../images/bg/AT_team-bg.png" size="cover" >
        <div class="at-about-team">
            <div class="team-member at-left">
                <div class="team-photo" background="../images/team/sam.png" size="cover"></div>
                <div class="team-member-banner">
                    <h1>Sam Teplitsky</h1>
                    <h2>Co-founder, CMO</h2>
                    <a class="linked-in" ng-href="http://www.linkedin.com/in/samteplitsky" target="_blank"></a>
                    <a class="twitter" ng-href="https://twitter.com/samtep" target="_blank"></a>
                </div>
                <div class="team-member-text">
                    <p>Sam has 15 years of experience in the media & entertainment industry creating executing innovative solutions for mobile, enter&shy;tainment, retail, and advertising companies. His management ex&shy;pertise spans creative direction, new media initiatives, mobile product and business development.</p>
                </div>
                <div class="team-member-hobbies">
                    <p>Two Favorite Hobbies:</p>
                    <p>Laughing, Cooking</p>
                    <p class="quiz">More on Sam:</p>
                    <p class="quiz">AT: "Hey Sam, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                    <p><span class="quiz">Sam:</span> "I'd like to work the grill at <a ng-href="http://www.google.com/url?q=http%3A%2F%2Fwww.foodandwine.com%2Frestaurants%2Fetxebarri-bilbao&sa=D&sntz=1&usg=AFQjCNH8VdxfDSn5_c0b1uMhEHVt2ka6JA" title="Extebarri Restaurant">Etxebarri</a> Restaurant in the Basque Village of Axpe. If that isn't possible I'd be content chopping the wood."</p>
                </div>
            </div>
            <div class="member-divider"></div>
            <div class="team-member at-right">
                <div class="team-photo" background="../images/team/ben.png" size="cover"></div>
                <div class="team-member-banner">
                    <h1>Ben McAllister</h1>
                    <h2>VP, Development and Production</h2>
                    <a class="linked-in" ng-href="http://www.linkedin.com/in/listenfaster" target="_blank"></a>
                    <a class="twitter" ng-href="https://twitter.com/listenfaster" target="_blank"></a>
                </div>
                <div class="team-member-text">
                    <p>Ben McAllister has more than 14 years experience bridging tech&shy;nology, science, and art developing several emerging technologies at key milestones in the music business including streaming audio, DRM, and emerging cross platform systems. As an interactive de&shy;signer and installation artist, Ben's been featured in gallery work bringing his unique motion tracking and audio analysis software to visitors.</p>
                </div>
                <div class="team-member-hobbies">
                    <p>Two Favorite Hobbies:</p>
                    <p>Writing music and running</p>
                    <p class="quiz">More on Ben:</p>
                    <p class="quiz">AT: "Hey Ben, if you could spend one day at any job ever  invented, what would it be and why?"</p>
                    <p><span class="quiz">Ben:</span> "On some huge Library of Congress grant, I'd collect field recordings of music and sound in some remote area, somewhere untouched by western civilization.  I love recording new sounds, and I'd learn a lot about survival, sound and how humans interact with technology in the process."</p>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="at-arrow-left" ui-sref="about.team.1">
    <img src="images/arrow-left.png">
</a>
<a class="at-arrow-right" ui-sref="about.team.3">
    <img src="images/arrow-right.png">
</a>