<section id='home' class="fullpage" image="../images/bg/AT_home-bg.png" size="cover" panel="1">
    <div class="container">
        <span class="at-main-message"><h1>You are here</h1></span>
        <a class="at-arrow-down animated bounce" scroll-to="about">
            <img src="images/arrow-down.png">
        </a>
    </div>
</section>

<div background-img="{{currentViews.about.background}}" size="cover">
    <div id="about" ng-include="currentViews.about.url"></div>
</div>

<div background-img="{{currentViews.platform.background}}" size="cover">
    <div id="platform" ng-include="currentViews.platform.url" ></div>
</div>

<div background-img="{{currentViews.work.background}}" size="cover">
    <div id="work" ng-include="currentViews.work.url"></div>
</div>

<section id="contact" class="fullpage" panel="1" image="../images/bg/AT_contact-us.png" size="cover">
    <div class="container">
        <div class="at-contact">
            <h1>Contact Us</h1>

            <div class="contact-info">
                <p>Drop us an email<br>
                    <a ng-href="mailto:sayhey@artifacttech.com">sayhey@artifacttech.com</a></p>

                <p>Visit us in Fremont<br>
                    3601 Fremont Ave N Suite 315<br>
                    Seattle WA 98103</p>

                <a class="twitter" ng-href="https://twitter.com/fonografmusic" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="at-footer">
        <p>Copyright &copy; Artifact Technologies 2012. All rights reserved</p>
    </div>
</section>




