
<div screen>
    <section id='home' class="fullpage" image="../images/bg/AT_home-bg.png" size="cover" panel="1" hm-swipe-up="swipeUp()" >
        <div class="container">
            <span class="at-main-message"><h1>You are here</h1></span>
            <a class="at-arrow-down animated bounce" scroll-to="about" bounce-on="['mouseenter']">
                <img src="images/arrow-down.png">
            </a>
        </div>
    </section>

    <section id="about" rn-carousel rn-carousel-index='index.about' peep-show-on>
        <div ng-repeat="view in views.about" image="{{view.background}}" panel="1" >
            <div ng-include="view.url"></div>
        </div>
    </section>

    <section id="platform" rn-carousel rn-carousel-index='index.platform'  peep-show-on>
        <div ng-repeat="image in views.platform" image="{{image.background}}" panel="1">
            <div ng-include="image.url"></div>d
        </div>
    </section>

    <section id="work" rn-carousel rn-carousel-index='index.work' peep-show-on>
        <div ng-repeat="image in views.work" image="{{image.background}}" panel="1" position="50% 25%" cover="contain">
            <div ng-include="image.url"></div>
        </div>
    </section>


    <section id="contact" class='fullpage' panel="1" image="../images/bg/AT_contact-us.png" size="cover">
        <div class="container">
            <div class="at-contact">
                <h1>Contact Us</h1>

                <div class="contact-info">
                    <p>Drop us an email<br>
                        <a ng-href="mailto:sayhey@artifacttech.com">sayhey@artifacttech.com</a></p>

                    <p>Visit us in Fremont<br>
                        3601 Fremont Ave N Suite 315<br>
                        Seattle WA 98103</p>

                    <a class="twitter" ng-href="https://twitter.com/fonografmusic" target="_blank"></a>
                </div>
            </div>

        </div>
        <div class="at-footer">
            <p>Copyright &copy; Artifact Technologies 2012. All rights reserved</p>
        </div>
    </section>
</div>










