<div id='scrollNav' class="at-navbar">
    <div class="at-navbar-wrapper" ng-class="{ home: isHome && $location.path() == '/' }">
        <div class="at-navbar-banner">
            <header class="at-navbar-header at-inline">
                <a prevent-default="" scroll-to="home" to-path="/" to-id="home" in-view="isInView(id)">
                    <div class="logo" background-img="../images/artifact-logo.png" size="cover"></div>
                    Artifact <span class="thin">Technologies</span><span class="trade">&trade;</span>
                </a>
            </header>
                    <span ng-class="{ home: isHome && $location.path() == '/' }">
                        <nav class="at-navbar-main at-inline" ng-class="{ home: isHome && $location.path() == '/' }">
                            <a prevent-default="" scroll-to="about" to-path="/" to-id="about" in-view='isInView(id)' ng-class="{active: currentId == 'about'}">About Us</a>
                            <a prevent-default="" scroll-to="platform" to-path="/" to-id="platform" in-view='isInView(id)' ng-class="{active: currentId == 'platform'}">Our Platform</a>
                            <a prevent-default="" scroll-to="work" to-path="/" to-id="work" in-view='isInView(id)' ng-class="{active: currentId == 'work'}">Our Work</a>
                            <a prevent-default="" scroll-to="contact" to-path="/" to-id="contact" in-view='isInView(id)' ng-class="{active: currentId == 'contact'}">Contact Us</a>
                        </nav>
                    </span>

        </div>
    </div>
    <div class="at-subnav-wrapper" ng-show="!isHome">
        <div class="at-subnav">
            <nav class="at-navbar-subnav" ng-show="currentId == 'about'">
                <a scroll-to="" horizontal="true" ng-class="{ active: currentPath == '/about' }">The Team</a>
                <!--<a scroll-to="" horizontal ng-class="{ active: $state.is('about.investors') }">The Investors</a>-->
                <!--<a scroll-to="" horizontal ng-class="{ active: $state.is('about.advisory') }">The Advisory Board</a>-->
            </nav>
            <nav class="at-navbar-subnav" ng-show="currentId === 'platform'">
                <a ng-click="currentViewById('platform', 'platform-curation')" to-id='platform-curation' prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform', 'platform-curation') }">Curation</a>
                <a ng-click="currentViewById('platform', 'platform-creation')" to-id="platform-creation"  prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform', 'platform-creation') }">Creation</a>
                <a ng-click="currentViewById('platform', 'platform-commerce')" to-id="platform-commerce" prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform', 'platform-commerce') }">Commerce</a>
                <a ng-click="currentViewById('platform', 'platform-analysis')" to-id="platform-analysis" prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform', 'platform-analysis') }">Analysis</a>
            </nav>
            <nav class="at-navbar-subnav" ng-show="currentId === 'work'">
                <a ng-click="currentViewById('work', 'work-fonograf')" prevent-default="" to-path="/work" to-id="work-fonograf" horizontal="true" ng-class="{ active: isActiveLink('work', 'work-fonograf') }">Fonograf</a>
                <a ng-click="currentViewById('work', 'work-lens')" prevent-default="" to-path="/work" to-id="work-fonograf" horizontal="true" ng-class="{ active: isActiveLink('work', 'work-lens') }">Whidbey LENS</a>
            </nav>
        </div>
    </div>
</div>



<!--<div id='scrollNav' class="at-navbar">-->
    <!--<div class="at-navbar-wrapper" ng-class="{ home: isHome && $location.path() == '/' }">-->
        <!--<div class="at-navbar-banner">-->
            <!--<header class="at-navbar-header at-inline">-->
                <!--<a prevent-default="" ng-click="scrollTo('/', 'home')" to-path="/" to-id="home" in-view="isInView(id)" ng-click="currentId = 'home'; goto('home')">-->
                    <!--<div class="logo" background-img="../images/artifact-logo.png" size="cover"></div>-->
                    <!--Artifact <span class="thin">Technologies</span><span class="trade">&trade;</span>-->
                <!--</a>-->
            <!--</header>-->
                    <!--<span ng-class="{ home: isHome && $location.path() == '/' }">-->
                        <!--<nav class="at-navbar-main at-inline" ng-class="{ home: isHome && $location.path() == '/' }">-->
                            <!--<a prevent-default="" ng-click="scrollTo('/', 'about')" to-path="/" to-id="about" in-view='isInView(id)' ng-class="{active: isActiveLink('about')}">About Us</a>-->
                            <!--<a prevent-default="" ng-click="scrollTo('/', 'platform')" to-id="platform" in-view='isInView(id)' ng-class="{active: isActiveLink('platform')}">Our Platform</a>-->
                            <!--<a prevent-default="" ng-click="scrollTo('/', 'work')" to-id="work" in-view='isInView(id)' ng-class="{active: isActiveLink('work')}">Our Work</a>-->
                            <!--<a prevent-default="" ng-click="scrollTo('/', 'contact')" to-id="contact" in-view='isInView(id)' ng-class="{active: isActiveLink('contact')}">Contact Us</a>-->
                        <!--</nav>-->
                    <!--</span>-->

        <!--</div>-->
    <!--</div>-->
    <!--<div class="at-subnav-wrapper" ng-hide="isActiveLink('contact') || isActiveLink('about') || $location.path() == '/about.main'">-->
        <!--<div class="at-subnav">-->
            <!--<nav class="at-navbar-subnav" ng-show="isActiveLink('about')">-->
                <!--<a scroll-to="" horizontal="true" ng-class="{ active: isActiveLink('about-team') }">The Team</a>-->
                <!--&lt;!&ndash;<a scroll-to="" horizontal ng-class="{ active: $state.is('about.investors') }">The Investors</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a scroll-to="" horizontal ng-class="{ active: $state.is('about.advisory') }">The Advisory Board</a>&ndash;&gt;-->
            <!--</nav>-->
            <!--<nav class="at-navbar-subnav" ng-show="isActiveLink('platform')">-->
                <!--<a scroll-to="platform-curation" ng-click="scrollTo('/platform', 'platform-curation', true)" prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform-curation') }">Curation</a>-->
                <!--<a scroll-to="platform-creation" ng-click="scrollTo('/platform', 'platform-creation', true)" prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform-creation') }">Creation</a>-->
                <!--<a scroll-to="platform-commerce" to-path="/platform" to-id="platform-commerce" prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform-commerce') }">Commerce</a>-->
                <!--<a scroll-to="platform-analysis" to-path="/platform" to-id="platform-analysis" prevent-default="" horizontal="true" ng-class="{ active: isActiveLink('platform-analysis') }">Analysis</a>-->
            <!--</nav>-->
            <!--<nav class="at-navbar-subnav" ng-show="isActiveLink('work')">-->
                <!--<a scroll-to="work-fonograf" prevent-default="" to-path="/work" to-id="work-fonograf" horizontal="true" ng-class="{ active: isActiveLink('work-fonograf') }">Fonograf</a>-->
                <!--<a scroll-to="work-lens" prevent-default="" to-path="/work" to-id="work-fonograf" horizontal="true" ng-class="{ active: isActiveLink('work-lens') }">Whidbey LENS</a>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->