<div class="at-page">
    <div class="at-content" background="../images/bg/AT_platform-bg-4.png" size="cover">
        <div class="at-platform">
            <div class="at-platform-page">
                <h1>Commerce</h1>
                <span>Flexible Mosaic<span class="trade">&trade;</span> parameters enable customized discovery, acquisition and consumption. Making mosaics limited after a certain time period, and charging for the most popular capsules gives businesses an opportunity to create supply and demand.</span>
            </div>
        </div>
    </div>
</div>


<a class="at-arrow-left" ui-sref="platform.creation">
    <img src="images/arrow-left.png">
</a>

<a class="at-arrow-right" ui-sref="platform.analysis">
    <img src="images/arrow-right.png">
</a>