<div panel-container="4">

    <div id="platform-curation" class="fullpage" panel='1' horizontal="true" image="../images/bg/AT_platform-bg-2.png" size="cover" position="top center">
        <div class="at-platform">
            <div class="at-platform-page on-left">
                <h1>Curation</h1>
                <span>LENS<span class="trade">&trade;</span> allows businesses to offer the most relevant and interactive content inside their network, customized to users desires.</span>
            </div>
        </div>
        <a class="at-arrow-left" scroll-to="platform-main" horizontal="true" prevent-default="">
            <img src="images/arrow-left.png">
        </a>

        <a class="at-arrow-right" scroll-to="platform-creation" horizontal="true" prevent-default="">
            <img src="images/arrow-right.png">
        </a>
    </div>

    <div id="platform-creation" class="fullpage" panel='1' horizontal="true" image="../images/bg/AT_platform-bg-3.png" size="cover" position="top center">
        <div class="at-platform at-platform-top">
            <div class="at-platform-page">
                <h1 class="uncramp">Creation</h1>
                <span>Our integrated control panel allows an administrator to strategically deploy sponsored mosaics, and monitor their business profile.</span>
            </div>
        </div>
        <!--<a class="at-arrow-left" scroll-to="platform-curation" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->

        <!--<a class="at-arrow-right" scroll-to="platform-commerce" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-right.png">-->
        <!--</a>-->
    </div>

    <div id="platform-commerce" class="fullpage" panel='1' horizontal="true" image="../images/bg/AT_platform-bg-4.png" size="cover" position="top center">
        <div class="at-platform at-platform-top">
            <div class="at-platform-page">
                <h1 class="uncramp move-up">Commerce</h1>
                <span>Flexible Mosaic<span class="trade">&trade;</span> parameters enable customized discovery, acquisition and consumption. Making mosaics limited after a certain time period, and charging for the most popular capsules gives businesses an opportunity to create supply and demand.</span>
            </div>
        </div>

        <!--<a class="at-arrow-left" scroll-to="platform-creation" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->

        <!--<a class="at-arrow-right" scroll-to="platform-analysis" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-right.png">-->
        <!--</a>-->
    </div>

    <div id="platform-analysis" class="fullpage" panel='1' horizontal="true" image="../images/bg/AT_platform-bg-5.png" size="cover" position="top center">
        <div class="at-platform at-platform-top">
            <div class="at-platform-page">
                <h1 class="uncramp">Analysis</h1>
                <span>Our analytics package converts network engagement data into valuable, detailed user metrics, and can inform an administrator’s social strategy.</span>
            </div>
        </div>

        <!--<a class="at-arrow-left" scroll-to="platform-commerce" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->
    </div>
</div>
