<div id="platform-creation" class="fullpage horiz" background-img="../images/bg/AT_platform-bg-3.png" background="w" size="cover">
    <div class="at-platform">
        <div class="at-platform-page">
            <h1>Creation</h1>
            <span>Our integrated control panel allows an administrator to strategically deploy sponsored mosaics, and monitor their business profile.</span>
        </div>
    </div>
    <a class="at-arrow-left" ui-sref="platform.curation">
        <img src="images/arrow-left.png">
    </a>

    <a class="at-arrow-right" ui-sref="platform.commerce">
        <img src="images/arrow-right.png">
    </a>
</div>


