<div horizontal-bkgd-container>

    <!--<div id='platform-main' class="fullpage horiz" scroll-in-view horizontal="true" background="w" background-img="../images/bg/AT_platform-bg.png" size="cover">-->
        <!--<div class="at-content">-->
            <!--<div class="at-platform">-->
                <!--<h1>Platform</h1>-->
                <!--<div class="at-platform-list">-->
                    <!--<ol>-->
                        <!--<li>Our core technology is the Mosaic<span class="trade">&trade;</span> - a dynamic, proprietary media format optimized for mobile viewing, sharing and seamless purchase.</li>-->
                        <!--<li>Our mobile platform, LENS<span class="trade">&trade;</span>, allows businesses to easily aggregate, curate and publish their content - as Mosaics - directly to customers.</li>-->
                        <!--<li>LENS<span class="trade">&trade;</span> operates with geo-fenced networks. Once you physically enter a network, you are introduced to activities, offers, exclusive content, information and more within steps of where you are.</li>-->
                    <!--</ol>-->
                <!--</div>-->
                <!--<div class="at-platform-menu">-->
                    <!--<a class="at-platform-box" scroll-to="platform-curation" horizontal="true">-->
                        <!--<div class="box-icon" background-img="../images/thumbs-up.png" size="cover"></div>-->
                        <!--<div class="menu-title">Curation</div>-->
                    <!--</a>-->
                    <!--<a class="at-platform-box" scroll-to="platform-creation" horizontal="true">-->
                        <!--<div class="box-icon" background-img="../images/paintbrush.png" size="cover"></div>-->
                        <!--<div class="menu-title">Creation</div>-->
                    <!--</a>-->
                    <!--<a class="at-platform-box" scroll-to="platform-commerce" horizontal="true">-->
                        <!--<div class="box-icon" background-img="../images/present.png" size="cover"></div>-->
                        <!--<div class="menu-title">Commerce</div>-->
                    <!--</a>-->
                    <!--<a class="at-platform-box" scroll-to="platform-analysis" horizontal="true">-->
                        <!--<div class="box-icon" background-img="../images/bar-graph.png" size="cover"></div>-->
                        <!--<div class="menu-title">Analysis</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<a class="at-arrow-right" scroll-to="platform-curation" horizontal="true">-->
            <!--<img src="images/arrow-right.png">-->
        <!--</a>-->
    <!--</div>-->

    <div id="platform-curation" class="fullpage horiz" scroll-in-view horizontal="true" background-img="../images/bg/AT_platform-bg-2.png" background="w" size="cover" position="top center">
        <div class="at-platform">
            <div class="at-platform-page on-left">
                <h1>Curation</h1>
                <span>LENS<span class="trade">&trade;</span> allows businesses to offer the most relevant and interactive content inside their network, customized to users desires.</span>
            </div>
        </div>
        <!--<a class="at-arrow-left" scroll-to="platform-main" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->

        <!--<a class="at-arrow-right" scroll-to="platform-creation" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-right.png">-->
        <!--</a>-->
    </div>

    <div id="platform-creation" class="fullpage horiz" scroll-in-view horizontal="true" background-img="../images/bg/AT_platform-bg-3.png" background="w" size="cover" position="top center">
        <div class="at-platform at-platform-top">
            <div class="at-platform-page">
                <h1>Creation</h1>
                <span>Our integrated control panel allows an administrator to strategically deploy sponsored mosaics, and monitor their business profile.</span>
            </div>
        </div>
        <!--<a class="at-arrow-left" scroll-to="platform-curation" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->

        <!--<a class="at-arrow-right" scroll-to="platform-commerce" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-right.png">-->
        <!--</a>-->
    </div>

    <div id="platform-commerce" class="fullpage horiz" scroll-in-view horizontal="true" background-img="../images/bg/AT_platform-bg-4.png" background="w" size="cover" position="top center">
        <div class="at-platform at-platform-top">
            <div class="at-platform-page">
                <h1>Commerce</h1>
                <span>Flexible Mosaic<span class="trade">&trade;</span> parameters enable customized discovery, acquisition and consumption. Making mosaics limited after a certain time period, and charging for the most popular capsules gives businesses an opportunity to create supply and demand.</span>
            </div>
        </div>

        <!--<a class="at-arrow-left" scroll-to="platform-creation" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->

        <!--<a class="at-arrow-right" scroll-to="platform-analysis" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-right.png">-->
        <!--</a>-->
    </div>

    <div id="platform-analysis" class="fullpage horiz" scroll-in-view horizontal="true" background-img="../images/bg/AT_platform-bg-5.png" background="w" size="cover" position="top center">
        <div class="at-platform at-platform-top">
            <div class="at-platform-page">
                <h1>Analysis</h1>
                <span>Our analytics package converts network engagement data into valuable, detailed user metrics, and can inform an administrator’s social strategy.</span>
            </div>
        </div>

        <!--<a class="at-arrow-left" scroll-to="platform-commerce" horizontal="true" prevent-default="">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->
    </div>
</div>