<div horizontal-bkgd-container>

    <div id="work-fonograf" class="fullpage horiz" scroll-in-view horizontal="true" background-img="../images/bg/AT_our-work-bg-2.png" background="w" size="cover" position="top center">
        <div class="container">
            <div class="at-work">
                <div class="at-work-page at-work-app">
                    <h1 class="at-app-title">Fonograf</h1>
                    <p class="at-app-desc">We are fans of music. We built Fonograf to use ourselves because we wanted a better way to discover new music around us. Music tastes and music events are an excellent incentive to test users willingness to curate their own filter in an open network. Band performances and their relationship with venues is an excellent loop to test willingness for collaboration on stories. This led us to LENS<span class="trade">&trade;</span> and the need to give trusted sources, key contributors, and creators a direct publishing platform to their most interested audiences.</p>
                    <div class="promo-videos">
                        <h2><a href="" data-toggle="modal" data-target="#promoVid1">Promo Video #1</a></h2>

                        <div class="modal fade" id="promoVid1" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <iframe src="//player.vimeo.com/video/65173823" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <h2><a href="" data-toggle="modal" data-target="#promoVid2">Promo Video #2</a></h2>

                        <div class="modal fade" id="promoVid2" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <iframe src="//player.vimeo.com/video/84422518" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                    </div>
                </div>
            </div>
            <a class="apple-store" href="https://itunes.apple.com/us/app/fonograf/id569345221?mt=8" target="_blank" hover-class="animated bounce" ng-mouseover="hoverItem(true);"ng-mouseout="hoverItem(false);" background-img="../images/AT-itunes.png" size="cover"></a>
        </div>
    </div>

    <div id="work-lens" class="fullpage horiz" scroll-in-view horizontal="true" background-img="../images/bg/AT_our-work-bg-2.png" background="w" size="cover" position="top center">
        <div class="container">
            <div class="at-work">
                <div class="at-work-page at-work-app">
                    <h1 class="at-app-title">W<span class="small-caps">hidbey</span>LENS<span class="trade">&trade;</span></h1>
                    <p class="at-app-desc">Whidbey LENS&trade; is essentially our platform custom designed and geared toward South Whidbey Island and provided by Whidbey TeleCom. Residents and tourists can use the app to discover new businesses, get deals, discover new social media content and more. Designed as the ultimate community app.</p>
                </div>
            </div>
            <a class="apple-store" href="https://itunes.apple.com/us/app/whidbeylens/id778925262?mt=8" target="_blank" hover-class="animated bounce" ng-mouseover="hoverItem(true);"ng-mouseout="hoverItem(false);" background-img="../images/AT-itunes.png" size="cover"></a>
        </div>

        <!--<a class="at-arrow-left" scroll-to="work-fonograf" horizontal="true">-->
            <!--<img src="images/arrow-left.png">-->
        <!--</a>-->
    </div>


</div>
